.formulario{
    background: linear-gradient(45deg, red, white, red);
    width: 400px;
    padding: 20px;
    margin: auto;
    & .espacio{
        width: 350px;
    }
}
@media (max-width: $mobile) {
    .formulario{
        width: 300px;
        height: 350px;
        padding: 20px;
        margin: auto;
        & .espacio{
            width: 250px;
        }
        & &__comentario{
            width: 250px;
            height: 100px;
        }
    }
}