.enlace{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    & img{
    width: 500px;
    height: 250px;
    border-radius: 25px;
    &:hover{
        box-shadow: 0px 1px 20px 0px $colorletras;
    }
    }
    & &__nosotros{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    & &__murales{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    & &__ventas{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    & &__contacto{
        padding-top: 10px;
        padding-bottom: 10px;
    }

}
@media (max-width: $mobile){
    .enlace{
        display: inline;
        text-align: center;
        & img{
        width: 300px;
        height: 120px;
        margin: 0px;
        }

    }
}
   
@media (min-width: $mobile) and (max-width: $tablet){
    .enlace{
        text-align: center;
        & img{
            width: 200px;
            height: 100px;
        }
    }
}