.historia{
    text-align: center;
     img{
    width: 400px;
    height: 310px;
    margin: 30px;
    }
    p{
    border: 1px solid $colorletras;
    text-align: center;
    border-radius: 25px;
    padding: 100px;
    font-size: 25px;
    }
    & &__uno{
    color: $colorletras;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px;
    }
    & &__dos{
    color: $colorletras;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row-reverse;
    margin: 10px;
    }
    & &__tres{
    color: $colorletras;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px;
    }
}
.masinfo{
    & p{
        text-align: center;
        color: $colorletras;
        font-size: 25px;
        padding-top: 15px;
        border-top: solid 1px $colorletras;
        }
}  

.videos{
    text-align: center;
    color: $colorletras;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    & p{
        padding-bottom: 30px;
        padding-top: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }
    & iframe{
       width: 430px;
       height: 250px;
    }
    
}

@media (max-width: $mobile){
    .historia{
        text-align: center;
    
        & img{
        width: 310px;
        height: 310px;
        margin: 0px;
        }
        & p{
        border: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 20px;
        }
        & &__uno{
        color: $colorletras;
        display: inline;
        justify-content: center;
        }
        & &__dos{
        color: $colorletras;
        display: inline;
        justify-content: center;
        }
        & &__tres{
        color: $colorletras;
        display: inline;
        justify-content: center;
        }
    }
    .masinfo{
        & p{
            text-align: center;
            color: $colorletras;
            font-size: 25px;
            padding-left: 10px;
            padding-right: 10px;
            }    
    
    } 
    .videos{
        color: $colorletras;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        align-items: center;
        & p{
            padding-bottom: 30px;
            padding-top: 30px;
            padding-right: 20px;
            padding-left: 20px;
        }
        & iframe{
           padding-left: 10px;
           padding-right: 10px;
           width: 100%;
           height: 200px;
        }
        
    }
}
   
@media (min-width: $mobile) and (max-width: $tablet){
    .historia{
        & &__uno{
            p{
                padding: 100px 10px;
                font-size: 20px;  
            }
        }
        & &__dos{
            p{
                padding: 100px 10px;
                font-size: 20px;
            }
        }
        & &__tres{
            p{
                padding: 100px 10px;
                font-size: 20px;
            }
        }
    }
    .videos{
        text-align: center;
        color: $colorletras;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        & p{
            padding-bottom: 30px;
            padding-top: 30px;
            padding-right: 20px;
            padding-left: 20px;
        }
        & iframe{
           width: 375px;
           height: 250px;
        }
        
    }
        
}
