.contenedormurales{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 100px 100px 100px;
    gap: 15px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    & img{
        height: 270px;
        width: auto;
        &:hover{
            box-shadow: 0px 1px 20px 0px white;
            transition: transform .2s; 
            transform: scale(1.1); 
        }
    }
}
@media (max-width: $mobile){
    .contenedormurales{
        display: block;
        & img{
            padding: 10px;
           }
    }
}
   
@media (min-width: $mobile) and (max-width: $tablet){
    .contenedormurales{
        grid-template-columns: 1fr 1fr;
            & img{
                padding: 20px;
                &:hover{
                    box-shadow: 0px 0px 0px 0px;
                    transition: transform .2s; 
                    transform: scale(1.2); 
                }
            }
        }
    }