
.botonesUno{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}
.botonesUno #botonBuscar{
    height: 34px;
    width: 124px;
    border-radius: 20px;

}
.botonesUno #inputBuscar{
    border-radius: 5px;
    border: 1px solid red;
}

.botonesUno #botonVerOcultar{
    border-radius: 20px;
    position:relative;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 22px;
    transition: .3s linear;
    cursor: pointer;
}
.botonesUno #botonVerOcultar:hover{

    background-color: red;
    box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px rgb(243, 237, 237) ;
}



.botonesDos{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    
}
.botonesDos button{

    border-radius: 20px;
    position:relative;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 22px;
    transition: .3s linear;
    cursor: pointer;
}

.botonesDos button:active {
    background-color: rgb(255, 0, 0);
  }


#contenedorProductos{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 100px 100px 100px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-right: 100px;
    margin-left: 100px;
    
}

#contenedorProductos .tarjetaProductos{
    width: 300px;
    height: 450px;
    background-color: rgb(214, 211, 211);
    border: 1px solid black;
    border-radius: 25px;
    margin: 3px;
    padding: 4px;
}

#contenedorProductos .tarjetaProductos img{
    border-radius: 5px;
    width:250px;
    height: 200px;
    margin: 20px;
}

#contenedorProductos .tarjetaProductos h2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    
}
#contenedorProductos .tarjetaProductos p{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
 
}
#contenedorProductos .tarjetaProductos button{
    border-radius: 10px;
    width: 204px;
    height: 54px;
    margin-left: 40px;
    margin-right: 40px;
}
#contenedorProductos .tarjetaProductos button:hover{
    background-color: lightsteelblue;
   
}


#contenedorCarrito{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    border-radius: 10px;
    background-color: rgb(212, 212, 212);
    flex-wrap: wrap;
    flex-shrink: initial;
    padding: 10px;
    justify-content: center;
    
}

.tarjetaCarrito{
    border: 1px solid black ;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tarjetaCarrito button{
    width: 204px;
    height: 24px;
}

.tarjetaCarrito .unidades{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.tarjetaCarrito .unidades button{
    width: 30px;
    height: 30px;
    margin: 5px; 
}


.oculto{
    display: none !important;
}



@media (max-width: $mobile){
    
    #contenedorProductos{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .botonesUno{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
}
   