*{
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;

}

body{
    background-image: url(../imagenes/fondoweb.jpeg) ;
    background-size: cover;
    background-position: center center;
    color: aliceblue;
}

/* ajuste de tamaño del logo del menu */
.navbar-brand img{
    width: 40px;
    height: 40px;
}
/* fin menu */


/* Encabesado de paginas */
.encabesadopag{
    color: aliceblue;
    text-align: center;
    margin: 40px;
}

.encabesadopag h1{
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.encabesadopag h2{
    font-size: 35px;
}
.encabesadopag p{
    padding-top: 50px;
    font-size: 30px;
    padding-right: 100px;
    border-left-width: 33px;
    padding-left: 100px;
}
@media (max-width: 600px){
    .encabesadopag {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* fin de encabesado de paginas */

/* INDEX */
/* inicio grid enlaces  */
.grid-enlace{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.grid-enlace img{
    width: 500px;
    height: 250px;
    border-radius: 25px;
}
.grid-enlace img:hover{
    box-shadow: 0px 1px 20px 0px white;

}
@media (max-width: 600px){  /* max-width hasta 600px */

    .grid-enlace{
        display: inline;
        text-align: center;
    }

    .grid-enlace img{
        width: 300px;
        height: 120px;
    }     
}


/* fin index */

/*  */
/*  */
/*  */
/*  */
/*  */
/* inicio de pagina sobre nosotros */
.cont-pagdos img{
    width: 310px;
    height: 310px;
    margin: 30px;
}

.cont-pagdos .contuno {
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px;
}
.cont-pagdos .contdos {
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row-reverse;
    margin: 10px;
}
.cont-pagdos .conttres {
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px;
}
.cont-pagdos .contuno p {
    border: 3px solid white;
    text-align: center;
    border-radius: 25px;
    padding: 100px;
    font-size: 25px;
}
.cont-pagdos .contdos p {
    border: 3px solid white;
    text-align: center;
    border-radius: 25px;
    padding: 100px;
    font-size: 25px; 
}

.cont-pagdos .conttres p {
    border: 3px solid white;
    text-align: center;
    border-radius: 25px;
    padding: 100px;
    font-size: 25px;   
}

/* fin sobre nosotros */


/*  */
/*  */
/*  */
/* inicio pagina de murales */

.contenedormurales{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 100px 100px 100px;
    gap: 15px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.contenedormurales img{
    height: 270px;
    width: auto;
}

.contenedormurales img:hover{
    box-shadow: 0px 1px 20px 0px white;

}

/* fin pagina murale */

/*  */
/*  */
/*  */
/* inicio pagina de ventas */

.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.ventas {
    color:aliceblue;
    padding-top: 50px;
    font-size: 30px;
    padding-right: 100px;
    border-left-width: 33px;
    padding-left: 100px;
    text-align: center;
}

@media (max-width: 600px) {
    .ventas{
        padding-left: 10px;
        padding-right: 10px;
    }
    .ventasp {
        font-size: 20px;
    }
 }