*{
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;

}

body{
    background-image: url(../imagenes/fondoweb.jpeg) ;
    background-size: cover;
    background-position: center center;
    color: aliceblue;
}

/* ajuste de tamaño del logo del menu */
.navbar-brand img{
    width: 40px;
    height: 40px;
}
@media (min-width: 800px) {

.navbar-nav{
    position: absolute;
    right: 10px;
    
}
}
/* fin menu */


/* Encabesado de paginas */
.encabesadopag{
    color: aliceblue;
    text-align: center;
    margin: 40px;
}

.encabesadopag h1{
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.encabesadopag h2{
    font-size: 35px;
}
.encabesadopag p{
    padding-top: 50px;
    font-size: 30px;
    padding-right: 100px;
    border-left-width: 33px;
    padding-left: 100px;
}

/* responsive */
@media (max-width: 700px){
    .encabesadopag h1{
        font-size: 40px;
    }
    .encabesadopag h2{
        font-size: 30px;
    }
    .encabesadopag p{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        font-size: 20px;
    }
}
@media (min-width: 700px) and (max-width: 1000px) {
    .encabesadopag h1{
        font-size: 40px;;
        
    }
    .encabesadopag h2{
        font-size: 30px;
    }
    .encabesadopag p{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        font-size: 20px;
    }
}
/* fin responsive */
/* fin de encabesado de paginas */
/* footer */
footer{
    position: absolute;
    right: 10px;
}
footer a {
    color: white;
    padding: 5px;
    
 }
 footer a:hover {
    border-bottom: 0,5px solid;
    background: #ff0000;
  }
  /* fin de footer */

  /* ajustes de a links */
 main a {
    color: aliceblue;

 }
 main a:hover{
    box-shadow: inset 0px 0px 20px 0px red
 }
 /* fin a links */

/* INDEX */
/* inicio grid enlaces  */
.grid-enlace{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.grid-enlace img{
    width: 500px;
    height: 250px;
    border-radius: 25px;
}
.grid-enlace img:hover{
    box-shadow: 0px 1px 20px 0px white;

}
@media (max-width: 700px){ 

    .grid-enlace{
        display: inline;
        text-align: center;
    }

    .grid-enlace img{
        width: 300px;
        height: 120px;
        margin: 0px;
    }     
}
@media (min-width: 700px) and (max-width: 1000px){ 


    .grid-enlace{
        text-align: center;
    }

    .grid-enlace img{
        width: 200px;
        height: 100px;
    }     
}

/* fin index */

/*  */

/* inicio de pagina sobre nosotros */
.cont-pagdos img{
    width: 310px;
    height: 310px;
    margin: 30px;
}

.cont-pagdos .contuno {
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px;
}
.cont-pagdos .contdos {
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row-reverse;
    margin: 10px;
}
.cont-pagdos .conttres {
    color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px;
}
.cont-pagdos p {
    border: 3px solid white;
    text-align: center;
    border-radius: 25px;
    padding: 100px;
    font-size: 25px;
}

@media (max-width: 700px){ 
  
    .cont-pagdos .contuno {
        color: aliceblue;
        display: inline;
        justify-content: center;
    }
    .cont-pagdos .contdos {
        color: aliceblue;
        display: inline;
        justify-content: center;    
    }
    .cont-pagdos .conttres {
        color: aliceblue;
        display: inline;
        justify-content: center; 
    } 
    .cont-pagdos p{
        border: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 20px;  
    }
    .cont-pagdos img {
        width: 310px;
        height: 310px;
        margin: 0px;
    }
}

@media (min-width: 700px) and (max-width: 1000px){
    .cont-pagdos .contuno p {
        padding: 100px 10px;
        font-size: 20px;

    }
    .cont-pagdos .contdos p {
        padding: 100px 10px;
        font-size: 20px;    
    }
    .cont-pagdos .conttres p {
        padding: 100px 10px;
        font-size: 20px;
    }  
}
/* fin sobre nosotros */
/* inicio pagina de murales */

.contenedormurales{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 100px 100px 100px;
    gap: 15px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.contenedormurales img{
    height: 270px;
    width: auto;
}

.contenedormurales img:hover{
    box-shadow: 0px 1px 20px 0px white;

}
@media (max-width: 700px){ 
   .contenedormurales{
    display: block;
   }
   .contenedormurales img{
   padding: 10px;
}
}

@media (min-width: 700px) and (max-width: 1000px){
    .contenedormurales{
        grid-template-columns: 1fr 1fr;
       }
       .contenedormurales img{
        padding: 20px;   
    }
}
    
/* fin pagina murale */
/* inicio pagina de ventas */

.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.ventas {
    color:aliceblue;
    padding-top: 50px;
    font-size: 30px;
    padding-right: 100px;
    border-left-width: 33px;
    padding-left: 100px;
    text-align: center;
}

@media (max-width: 700px) {
    .ventas{
        padding-left: 10px;
        padding-right: 10px;
    }
    .ventasp{
        font-size: 20px;
    }
}
    @media (min-width: 700px) and (max-width: 1000px){
        .ventasp {
            font-size: 20px;
        }
    }
   

 .container-fluid .row img{
    height: 270px;
    width: auto;
    
 }
/* fin ventas */
/* inicio formulario */
.formulario{
    background-color: rgb(231, 231, 231);
    width: 400px;
    padding: 20px;
    margin: auto;

}
.formulario .espacio{
    width: 350px;
}
@media (max-width: 700px) {
    .formulario{
        background-color: rgb(231, 231, 231);
        width: 300px;
        height: 350px;
        padding: 20px;
        margin: auto;
    
    
    }
    .formulario .espacio{
        width: 250px;
    }
    .formulario textarea{
        width: 250px;
        height: 100px;
    }
}
/* fin formulario */