/* Variables */
/* mixin */
/* reset */
* {
  font-family: "Roboto", sans-serif;
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}

/* body */
body {
  background-image: url(../imagenes/fondoweb.jpeg);
  background-size: cover;
  background-position: center;
}

/* ajuste de menu */
.navbar-brand img {
  width: 40px;
  height: 40px;
}

@media (min-width: 1000px) {
  .navbar-nav {
    position: absolute;
    right: 10px;
  }
}
/* ajuste en estilo de links */
main a {
  color: aliceblue;
}
main a :hover {
  box-shadow: inset 0px 0px 20px 0px red;
}

/* inicio encabesado */
.encabesado {
  color: aliceblue;
  text-align: center;
  margin: 40px;
}
.encabesado h1 {
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.encabesado h2 {
  font-size: 35px;
}
.encabesado p {
  padding-top: 50px;
  font-size: 30px;
  padding-right: 100px;
  border-left-width: 33px;
  padding-left: 100px;
}

@media (max-width: 700px) {
  .encabesado h1 {
    font-size: 40px;
  }
  .encabesado h2 {
    font-size: 30px;
  }
  .encabesado p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 20px;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .encabesado h1 {
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .encabesado h2 {
    font-size: 35px;
  }
  .encabesado p {
    font-size: 20px;
    border-left-width: 33px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
  }
}
/* Inicio de footer */
footer {
  position: absolute;
  right: 10px;
  padding: 10px;
}
footer a {
  color: aliceblue;
  padding: 5px;
}
footer a img {
  width: 30px;
}
footer a img:hover {
  box-shadow: 0px 1px 20px 0px red;
}

/* Index-Grid enlaces */
.enlace {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
.enlace img {
  width: 500px;
  height: 250px;
  border-radius: 25px;
}
.enlace img:hover {
  box-shadow: 0px 1px 20px 0px aliceblue;
}
.enlace .enlace__nosotros {
  padding-top: 10px;
  padding-bottom: 10px;
}
.enlace .enlace__murales {
  padding-top: 10px;
  padding-bottom: 10px;
}
.enlace .enlace__ventas {
  padding-top: 10px;
  padding-bottom: 10px;
}
.enlace .enlace__contacto {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 700px) {
  .enlace {
    display: inline;
    text-align: center;
  }
  .enlace img {
    width: 300px;
    height: 120px;
    margin: 0px;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .enlace {
    text-align: center;
  }
  .enlace img {
    width: 200px;
    height: 100px;
  }
}
/* inicio de pagina "Sobre nosotros" */
.historia {
  text-align: center;
}
.historia img {
  width: 400px;
  height: 310px;
  margin: 30px;
}
.historia p {
  border: 1px solid aliceblue;
  text-align: center;
  border-radius: 25px;
  padding: 100px;
  font-size: 25px;
}
.historia .historia__uno {
  color: aliceblue;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 10px;
}
.historia .historia__dos {
  color: aliceblue;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 10px;
  flex-direction: row-reverse;
}
.historia .historia__tres {
  color: aliceblue;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 10px;
}

.masinfo p {
  text-align: center;
  color: aliceblue;
  font-size: 25px;
  padding-top: 15px;
  border-top: solid 1px aliceblue;
}

.videos {
  text-align: center;
  color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.videos p {
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.videos iframe {
  width: 430px;
  height: 250px;
}

@media (max-width: 700px) {
  .historia {
    text-align: center;
  }
  .historia img {
    width: 310px;
    height: 310px;
    margin: 0px;
  }
  .historia p {
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
  }
  .historia .historia__uno {
    color: aliceblue;
    display: inline;
    justify-content: center;
  }
  .historia .historia__dos {
    color: aliceblue;
    display: inline;
    justify-content: center;
  }
  .historia .historia__tres {
    color: aliceblue;
    display: inline;
    justify-content: center;
  }
  .masinfo p {
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .videos {
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    align-items: center;
  }
  .videos p {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .videos iframe {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 200px;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .historia .historia__uno p {
    padding: 100px 10px;
    font-size: 20px;
  }
  .historia .historia__dos p {
    padding: 100px 10px;
    font-size: 20px;
  }
  .historia .historia__tres p {
    padding: 100px 10px;
    font-size: 20px;
  }
  .videos {
    text-align: center;
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .videos p {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .videos iframe {
    width: 375px;
    height: 250px;
  }
}
/* Inicio pagina murales */
.contenedormurales {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 100px 100px 100px;
  gap: 15px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.contenedormurales img {
  height: 270px;
  width: auto;
}
.contenedormurales img:hover {
  box-shadow: 0px 1px 20px 0px white;
  transition: transform 0.2s;
  transform: scale(1.1);
}

@media (max-width: 700px) {
  .contenedormurales {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .contenedormurales img {
    padding: 10px;
  }
  .contenedormurales img:hover {
    box-shadow: none;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .contenedormurales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .contenedormurales img {
    padding: 20px;
  }
  .contenedormurales img:hover {
    box-shadow: none;
  }
}
/* Ajustes de carrusel-pagina ventas */
.botonesUno {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
}

.botonesUno #botonBuscar {
  height: 34px;
  width: 124px;
  border-radius: 20px;
}

.botonesUno #inputBuscar {
  border-radius: 5px;
  border: 1px solid red;
}

.botonesUno #botonVerOcultar {
  border-radius: 20px;
  position: relative;
  border: none;
  height: 50px;
  width: 200px;
  font-size: 22px;
  transition: 0.3s linear;
  cursor: pointer;
}

.botonesUno #botonVerOcultar:hover {
  background-color: red;
  box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px rgb(243, 237, 237);
}

.botonesDos {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.botonesDos button {
  border-radius: 20px;
  position: relative;
  border: none;
  height: 50px;
  width: 200px;
  font-size: 22px;
  transition: 0.3s linear;
  cursor: pointer;
}

.botonesDos button:active {
  background-color: rgb(255, 0, 0);
}

#contenedorProductos {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 100px 100px 100px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

#contenedorProductos .tarjetaProductos {
  width: 300px;
  height: 450px;
  background-color: rgb(214, 211, 211);
  border: 1px solid black;
  border-radius: 25px;
  margin: 3px;
  padding: 4px;
}

#contenedorProductos .tarjetaProductos img {
  border-radius: 5px;
  width: 250px;
  height: 200px;
  margin: 20px;
}

#contenedorProductos .tarjetaProductos h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

#contenedorProductos .tarjetaProductos p {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

#contenedorProductos .tarjetaProductos button {
  border-radius: 10px;
  width: 204px;
  height: 54px;
  margin-left: 40px;
  margin-right: 40px;
}

#contenedorProductos .tarjetaProductos button:hover {
  background-color: lightsteelblue;
}

#contenedorCarrito {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  border-radius: 10px;
  background-color: rgb(212, 212, 212);
  flex-wrap: wrap;
  flex-shrink: initial;
  padding: 10px;
  justify-content: center;
}

.tarjetaCarrito {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tarjetaCarrito button {
  width: 204px;
  height: 24px;
}

.tarjetaCarrito .unidades {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarjetaCarrito .unidades button {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.oculto {
  display: none !important;
}

@media (max-width: 700px) {
  #contenedorProductos {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .botonesUno {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 0px;
  }
  .botonesUno #botonVerOcultar {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 50px;
  }
  .botonesDos {
    display: flex;
    font-size: 5px;
    align-items: center;
    margin: 0px;
  }
}
/* inicio de formulario */
.formulario {
  background: linear-gradient(45deg, red, white, red);
  width: 400px;
  padding: 20px;
  margin: auto;
}
.formulario .espacio {
  width: 350px;
}
.formulario .formulario__comentario {
  width: 350px;
}

@media (max-width: 700px) {
  .formulario {
    width: 300px;
    height: 350px;
    padding: 20px;
    margin: auto;
  }
  .formulario .espacio {
    width: 250px;
  }
  .formulario .formulario__comentario {
    width: 250px;
    height: 100px;
  }
}/*# sourceMappingURL=main.css.map */